
body {
    color: rgb(76, 91, 76);
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;
    background-image: url("../images/white-paper-texture.jpg");
}  

h1#post-title {
    color: rgb(0, 0, 0);  /* Color of the page title */
    font-size: 3em;  /* Font size of the post title */
}

a {
    color: rgb(70, 70, 216);
}

a.navigation-button {
    color: rgb(70, 70, 216);
}

a.navigation-button-disabled {
    color: rgb(178, 178, 178);  /* Color of the disabled navigation bar hyperlinks */
}

#nav-smiley {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 1em; /* Match link text size */
  color: rgb(161, 143, 5); 
  vertical-align: middle;
  font-weight: normal;
}

#navigation-bar {
    display: flex;          /* enables flex layout */
    justify-content: center; /* centers items horizontally */
    gap: 1em;               /* optional: space between buttons */
    flex-wrap: wrap;        /* optional: wrap to next line if screen is narrow */
}

#comic-blinker {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Comic image responsiveness */
#comic img,
.comic-image,
img.comic {
  margin-left: 0;   /* remove centering */
  margin-right: auto;
  display: block;
  margin: 0 auto;
  height: auto;
  width: 1000px;        /* Half the screen normally */
  max-width: 100%;    /* Never overflow */
}

/* Phones or narrow windows: make it full width */
@media (max-width: 1200px) {
  #comic img,
  .comic-image,
  img.comic {
    width: 100%;
  }
}