body {
    color: lime;
    font-family: "Comic Sans MS", sans-serif;
    /*text-align: left;*/
    background-image: url("../images/stars_bg.gif");
}

h1#post-title {
    color: magenta;  /* Color of the page title */
    font-size: 3em;  /* Font size of the post title */
}

a {
    color: blue;
}

a.navigation-button {
    color: blue;
}

a.navigation-button-disabled {
    color: white;  /* Color of the disabled navigation bar hyperlinks */
}

#comic-blinker {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Comic image responsiveness */
#comic img,
.comic-image,
img.comic {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}

/* Large screens: comic takes up half the screen */
@media (min-width: 1600px) {
  #comic img,
  .comic-image,
  img.comic {
    width: 50vw;
  }
}

/* Medium screens: comic fills the available window (no extra shrinking) */
@media (max-width: 1600px) and (min-width: 800px) {
  #comic img,
  .comic-image,
  img.comic {
    width: 100%;
  }
}

/* Small screens (phones, narrow windows): comic scales with window */
@media (max-width: 800px) {
  #comic img,
  .comic-image,
  img.comic {
    width: 100%;
  }
}
